:root {
    --background-color: #202020;
    --primary-color: #e9be15;
    --primary-color-hover: #d0aa14;
}

* {
    box-sizing: border-box;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--background-color);
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42em;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size:3em;
    line-height:1em;
}

hr {
    border-color: var(--primary-color);
}

.table {
    text-align: left;
    overflow: hidden;
    width: 80%;
    display: table;
    margin: 50px auto 0;
}

.table th {
    text-transform: uppercase;
}

.table td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.percentage:after {
    content: '%';
}

.table td, .table th {
    padding: 2%;
}

/* Background-color of the odd rows */
.table tr:nth-child(odd) {
    background-color: #323C50;
}

/* Background-color of the even rows */
.table tr:nth-child(even) {
    background-color: #2C3446;
}

.table th {
    background-color: #1F2739;
}

.table tr:hover {
    background-color: #464A52;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.button {
    width: 100px;
    padding: 5px 10px;
    margin: 0 10px;
    background: var(--primary-color);
    border: none;
    cursor: pointer;
    box-shadow: 1px 2px 3px 1px #1f2739;
    font-weight: 600;
}
.button:hover {
    background: var(--primary-color-hover);
}
.delete {
    background: #ec2b1d;
}
.delete:hover {
    background: #f44336;
}
.td-percentage,
.th-percentage{
    display: flex;
    justify-content: space-between;
}
.flex {
    display: flex;
    justify-content: center;
}
.button.save {
    width: 30%;
    margin-top: 15px;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
}
.button.add {
    background: #03a9f4;
}
.button.add:hover {
    background: #2196f3;
}