:root {
    --background-color: #202020;
    --primary-color: #e9be15;
    --primary-color-hover: #d0aa14;
    --th-background: #1F2739;
    --tr-background-even: #2C3446;
    --tr-background-odd: #495572;
    --text-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    user-select: none;
    font-family: 'Open Sans', sans-serif!important;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.42em;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size:3em;
    line-height:1em;
}

hr {
    border-color: var(--primary-color);
}

.list-options .table-container:first-child {
    margin-top: 25px;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.table-container-title {
    margin: 0 0 10px;
}

.table {
    text-align: left;
    overflow: hidden;
    width: 80%;
    display: table;
}

.table th {
    text-transform: uppercase;
}

.table td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.percentage:after {
    content: '%';
}

.table td, .table th {
    padding: 20px;
}

/* Background-color of the odd rows */
.table tr:nth-child(odd) {
    background-color: var(--tr-background-odd);
}

/* Background-color of the even rows */
.table tr:nth-child(even) {
    background-color: var(--tr-background-even);
}

.table th {
    background-color: var(--th-background);
}


.button {
    width: 100px;
    padding: 5px 10px;
    margin: 0 10px;
    background: var(--primary-color);
    border: none;
    cursor: pointer;
    box-shadow: 1px 2px 3px 1px var(--th-background);
    font-weight: 600;
}
.button:hover {
    background: var(--primary-color-hover);
}
.delete {
    background: #ec2b1d;
}
.delete:hover {
    background: #f44336;
}
.td-percentage,
.th-column-with-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.button.save {
    width: 30%;
    margin-top: 10px;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
}
.button.add {
    background: #03a9f4;
}
.button.add:hover {
    background: #2196f3;
}

#save-error {
    color: red;
    font-weight: 500;
}
#save-error.hidden {
    opacity: 0;
}
